{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <img
        src="/static/images/it-takes-a-village-logo.png"
        alt="Logo of It Takes A Village"
        style="width:100%"
      >
    </div>
    <div class="col-12 col-md-8">
      <h2>{{ about.title }}</h2>
      <div>{{ about.content | safe }}</div>
    </div>
  </div>
  <div class="row mt-5 mb-5 why-dublin">
    <div class="col-12 col-md-7">
      <h2>Why the focus on Dublin?</h2>
      <p>
        Dublin has become an increasingly popular city for new parents, offering
        the perfect mix of economic opportunity, community spirit, and
        family-friendly amenities. While the modern world often feels isolated
        due to technology, Dublin provides a vibrant environment where parents
        can truly come together and thrive.
        <br><br>
        One of the key reasons behind this trend is Dublin’s booming economy,
        particularly in the tech and finance sectors. With stable employment
        opportunities, many flock to "the big Smoke" from all over Ireland, but
        also from outside of Ireland. Meaning that people settle in Dublin, many
        of them do not have family nearby and friends that are made, often move
        away again after a couple of years.
        <br><br>
        This only increases the need for a platform that can provide support
        from one parent to another. That can connect parents from all layers of
        the community and that can provide the opportunity to create your own
        circle of 'chosen' family and friends that are there in a time of need.
      </p>
    </div>
    <div class="col-12 col-md-5 text-center">
      <img
        src="/static/images/dublin-areas.png"
        alt="Dublin areas overview"
        style="width:100%"
      >
    </div>
  </div>
</div>
{% endblock content %}
