{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-10 mx-auto">
            <div class="row">
                {% for support in support_list %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="support-post-header">
                                <h2 class="card-title mb-2 p-2">{{ support.topic }}</h2>
                            </div>

                            <a href="{% url 'support_detail' support.slug %}" class="post-link">
                                <p class="parent mt-1 mb-1 p-1">Parent: {{ support.parent }}</p>
                            </a>
                            <p class="card-text">{{ support.content|slice:":200" }}<span>...</span></p>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ support.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&raquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<div>
    <!-- Need to add a link back to top when you hit the bottom of the page -->
    <p>Back to top</p>
</div>

<!-- index.html content ends here -->
{% endblock %}