{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="masthead-fluid mb-4">
  <div class="container">
    <div>
      <a href="{% url 'home' %}"
        ><button class="btn-back">Back to Home</button></a>
    </div>
    <div class="row col-12 col-md-10 mx-auto">
      <div class="col masthead-text">
        <h1 class="post-topic">{{ support.topic }}</h1>
        <p class="post-subtitle">
          {{ support.parent }} | {{ support.created_on }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto mt-8 left top">
      <div class="card-body">
        <p class="card-text">{{ support.content | safe }}</p>
      </div>
    </div>
  </div>
  <!-- Displaying count of Responses -->
  <div class="row">
    <div class="col-1 col-md-2 text-end">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ reply_count }}
      </strong>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <p class="post-subtitle">
        {{ support.parent }} | {{ support.created_on }}
      </p>
    </div>
    <div class="col-11 col-md-10 mx-auto">
      <p class="post-subtitle">
        Region: {{ support.region }} | Age group: {{ support.age_group }} | Type: {{ support.type_of_request}}
      </p>
    </div>
    <div class="col-10 mx-auto">
      <hr>
    </div>
  </div>

  <!-- Creating New Replies -->
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave your reply here:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form id="respondForm" method="post">
          {{ reply_form | crispy }} {% csrf_token %}
          <button id="submitButton" type="submit" class="btn btn-signup btn-lg">
            Submit
          </button>
        </form>
        {% else %}
        <p id="reply_error">
          Welcome to the "It Takes A Village platform".
          <br>
          To reply to a post or to share a support post yourself, please
          <a class="link" href="{{ login_url }}">log in</a>. If you have not
          created an account yet, then
          <a class="link" href="{{ signup_url }}">sign up</a> first.
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  <!-- Displaying Replies - based on views.py-->
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <h3>Replies:</h3>
      <div class="card-body">
        {% for reply in replies %}
        <div
          class="p-2 card mb-1 comments {% if not reply.approved and reply.parent == user %} faded{% elif not reply.approved %} d-none{% endif %}"
        >
          <p class="font-weight-bold">
            {{ reply.parent }}
            <span class="font-weight-normal"> {{ reply.created_on }} </span>
            wrote:
          </p>
          <div id="reply{{ reply.id }}">{{ reply.body | linebreaks }}</div>
          {% if not reply.approved and reply.parent == user %}
          <p class="approval">This reply is awaiting approval</p>
          {% endif %}
          <!-- Deleting & Editing replies -->
          {% if user.is_authenticated and reply.parent == user %}
          <button class="btn btn-delete" reply_id="{{ reply.id }}">
            Delete
          </button>
          <button class="btn btn-edit" reply_id="{{ reply.id }}">Edit</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete reply?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your reply? This action cannot be
        undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extras %}
<script src="{% static 'js/replies.js' %}"></script>
{% endblock %}
